$block-image-text: (
  heading: (
    mobile: (
      font-size: 36px,
      line-height: 1.16,
    ),
    tablet: (
      font-size: 50px,
      line-height: 1.16,
    )
  ),
  paragraph: (
    mobile: (
      font-size: 16px,
      line-height: 1.4,
    ),
    tablet: (
      font-size: 24px,
      line-height: 1.5,
    )
  ),
  heading-color: $base-mine-color,
  paragraph-color: $base-dove-color,
);

.block-image-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 100px;

  &:last-child {
    padding-bottom: 0;
  }

  @include media(tablet up) {
    flex-direction: row;
    height: 100vh;
    padding-bottom: 0;

    &__media-position--right {
      flex-direction: row-reverse;
    }
  }

  &__media-wrap {
    @include media(tablet up) {
      @include flex-grid-width(6);
      margin-right: calc-grid-width(1);
    }
  }

  &__wrap {
    @include media(tablet up) {
      @include flex-grid-width(5);
    }
  }

  &__heading {
    @extend %heading;

    @include responsive($block-image-text, heading);
    color: map-get-strict($block-image-text, heading-color);
    font-weight: bold;
  }

  &__paragraph {
    @include responsive($block-image-text, paragraph);
    color: map-get-strict($block-image-text, paragraph-color);
    margin-top: 25px;

    @include media(tablet up) {
      margin-top: 35px;
    }
  }
}
