$block-image-text: (
  bg-color: $base-silver-color,
);

.block-image-text {
  &__lottie {
    display: flex;
    align-items: center;
    text-align: center;
    height: 300px;
    background-color: map-get-strict($block-image-text, bg-color);
  }
}
