.icon--message {
  &::before {
    content: unicode($icon--message);
    color: #FFFFFF;
  }
}

.icon--google-play {
  &::before {
    content: unicode($icon--google-play);
    color: #FFFFFF;
  }
}

.icon--youtube {
  &::before {
    content: unicode($icon--youtube);
    color: #FFFFFF;
  }
}

.icon--linkedin {
  &::before {
    content: unicode($icon--linkedin);
    color: #FFFFFF;
  }
}

.icon--github {
  &::before {
    content: unicode($icon--github);
    color: #FFFFFF;
  }
}

.icon--menu {
  &::before {
    content: unicode($icon--menu);
    color: #FFFFFF;
  }
}

.icon--close {
  &::before {
    content: unicode($icon--close);
    color: #FFFFFF;
  }
}

.icon--wordpress {
  &::before {
    content: unicode($icon--wordpress);
    color: #FFFFFF;
  }
}
