$menu-vars: (
  outline-color: $base-white-color,
  text-color: $base-white-color,
  font-family: $secondary-font-family,
  text-shadow: rgba(0, 0, 0, 0.4),
);

.main-menu {
  flex: 1;
  overflow: visible;
  width: 100%;
  max-width: 300px;
  align-self: center;

  &__item {
    overflow: hidden;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    color: map-get-strict($menu-vars, 'text-color');
    font-family: map-get-strict($menu-vars, 'font-family');
    padding: 10px 0;

    &:focus {
      outline: 1px solid map-get-strict($menu-vars, 'outline-color');
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: var(--color);
      transition: transform 0.2s ease;
      transform: translateY(100%);
    }

    &:hover {
      &::after {
        transform: translateX(0);
      }
    }

    &.is-active,
    &.is-default {
      color: map-get-strict($menu-vars, 'text-color');
      transition: color 0.2s ease, text-shadow 0.3s ease;

      &::after {
        background-color: map-get-strict($menu-vars, 'outline-color');
      }

      &:hover {
        color: var(--color);
      }

      &:hover::after {
        transform: translateX(0);
      }
    }

    &.is-active {
      text-shadow: 2px 2px 2px map-get-strict($menu-vars, 'text-shadow');

      &:hover {
        text-shadow: 0 0 0 transparent;
      }
    }
  }
}
