/*
Some default color are defined in eightshift-frontend-libs as defaults.
If you want to override it just define it with new value here.

All variables are available here:
https://github.com/infinum/eightshift-frontend-libs/blob/develop/scss/_colors.scss
*/

/* colors */

$base-shaft-color:      #333333;
$base-dove-color:       #666666;
$base-witty-color:      #FFFFF9;

$base-juniper-color:    #788D93;

$base-contessa-color:   #C97C7A;
$base-glacier-color:    #83B5CA;
$base-patina-color:     #609295;
$base-smoky-color:      #67597A;
$base-juan-color:       #28536B;


$base-text-color: $base-juniper-color;
$base-background-color: $base-witty-color;