/*
Some default variables are defined in eightshift-frontend-libs as defaults.
If you want to override it just define it with new value here.

All variables are available here:
https://github.com/infinum/eightshift-frontend-libs/blob/develop/scss/_core.scss
*/

$media-breakpoints: (
  small: 0 543,
  mobile: 544 767,
  tablet: 768 991,
  desktop: 992 1023,
  large: 1024 1239,
  huge: 1240,
);

//Base
$base-font-family: 'Karla', Arial, sans-serif;
$secondary-font-family: 'Rubik', sans-serif;
$base-icons-font-family: 'portfolio';

// Container
$base-container-size: 1024px;
$base-gutter-size: 24px;

$globals: (
  header-height: (
    mobile: 56px,
    large: 80px,
  ),
);

$container-spacing: (
  mobile: 24px,
  large: 24px,
);

