$article-list-vars: (
  sizes: (
    mobile: (
      font-size: 18px,
      line-height: 1.25,
    ),
    tablet: (
      font-size: 24px,
    ),
  )
);


.article-list {
  padding-top: 20px;

  @include media(mobile up) {
    padding-top: 50px;
  }

  &__header {
    padding-bottom: 10px;
  }

  &__heading {
    @include responsive($article-list-vars, 'sizes');
    margin: 0 0 10px;
  }

  &__item {
    margin: 30px 0;
  }

  &__title {
    font-weight: bold;
    margin: 0;
    padding: 10px 0;
  }

  .category {
    &__item {
      display: inline-block;

      &::before {
        content: ',';
      }

      &:first-child::before {
        display: none;
      }
    }
  }
}