$lists: (
  default: (
    mobile: (
      font-size: 18px,
      line-height: 1.33,
    ),
  ),
  secondary-font-family: $secondary-font-family,
);

.lists {
  @extend %list-reset;

  @include responsive($lists, default);

  li {
    @extend %list-reset;
    display: flex;
    padding-bottom: 12px;

    &:last-child {
      padding-bottom: 0;
    }

    &::before {
      content: '\2014';
      margin-right: 15px;
    }
  }

  &__type {
    &--secondary {
      font-family: map-get-strict($lists, secondary-font-family);
    }
  }
}
