$listing-vars: (
  font-family: $secondary-font-family,
);

.hero__listing-bar {
  font-family: map-get-strict($listing-vars, 'font-family');
  background-color: var(--accent-color);
  padding: 20px 0;
  margin: 0;
}