$share-vars: (
  bg: rgba($base-mine-color, 0.75),
  backdrop-color: $base-white-color,
  sizes: (
    mobile: (
      font-size: 18px,
      line-height: 1.25,
    ),
    tablet: (
      font-size: 24px,
    ),
  )
);

.share {
  $this: &;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;

  @include media(mobile up) {
    width: auto;
    justify-content: center;
  }

  &__title {
    @include responsive($share-vars, 'sizes');
    margin: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;

    @include media(mobile up) {
      text-align: left;
      width: auto;
      padding: 0 10px;
    }
  }

  &__svg {
    transition: opacity 0.3s ease;
  }

  &__icon {
    display: inline-block;
    cursor: pointer;

    &:hover #{$this}__svg {
      opacity: 0.7;
    }
  }

  &__url {
    background: none;
    border: none;
  }
}