// stylelint-disable max-nesting-depth

$wrapper: (
  background-colors: (
    white: $base-white-color,
    sand:  $base-sand-color,
  ),
  spacings: (
    great:      300px,
    gigantic:   280px,
    gargantuan: 260px,
    extensive:  240px,
    enormous:   220px,
    colossal:   200px,
    hugest:     180px,
    huger:      160px,
    huge:       140px,
    giant:      120px,
    biggest:    100px,
    bigger:     90px,
    big:        80px,
    largest:    70px,
    larger:     60px,
    large:      50px,
    default:    40px,
    medium:     30px,
    small:      20px,
    tiny:       10px,
    no-spacing: 0,
  ),
  containers: (
    default: $base-container-size,
    big: 1340px,
  ),
);

.wrapper {
  $this: &;

  &__anchor {
    position: absolute;
    left: -9999px;
    z-index: -1;
    margin-top: -(map-get-deep($globals, header-height, mobile));

    @include media(large up) {
      margin-top: -(map-get-deep($globals, header-height, large));
    }
  }

  &__bg-color {
    @include modifiers-deep($wrapper, background-colors, background-color);
  }

  &__spacing-top {
    @include responsive-selectors {
      @include modifiers-deep($wrapper, spacings, padding-top);
    }
  }

  &__spacing-bottom {
    @include responsive-selectors {
      @include modifiers-deep($wrapper, spacings, padding-bottom);
    }
  }

  &__hide-block {
    @include responsive-visibility-selectors {
      display: none;
    }
  }

  // Container DIV.
  &__container {
    margin: 0 auto;
    width: 100%;
    display: flex;
  }

  &__container-width {
    @include responsive-selectors {
      @include modifiers-deep($wrapper, containers, max-width);
    }
  }

  &__container-spacing {
    @include responsive-selectors {
      &--default {
        @include container-spacing;
      }

      &--no-spacing {
        padding: 0;
      }
    }
  }

  // Inner Container Div.
  &__inner {
    @include flex-grid-width;
  }

  &__inner-content-width {
    @include responsive-selectors {
      @include flex-grid-width-modifiers;
    }
  }

  // Content Offset.
  &__inner-offset {
    @include responsive-selectors {
      &--content-spacing {
        padding-left: calc-grid-width(4);
        margin: 0;
      }

      &--content-spacing-small {
        padding-left: calc-grid-width(1);
        margin: 0;
      }

      &--right-edge {
        @include media(mobile up) {
          margin-left: map-get-strict($container-spacing, mobile);
        }
        @include media(large up) {
          margin-left: map-get-strict($container-spacing, large);
        }
        @include media(huge up) {
          margin-left: 50px;
        }

        padding: 0;
      }

      &--center {
        margin: 0 auto;
        padding: 0;
      }
    }
  }

  // Used to toggle state using toggle-block.
  &.is-hidden-large {
    display: none;
  }

  &.is-hidden-desktop {
    display: none;

    @include media(large up) {
      display: block;
    }
  }

  &.is-hidden-tablet {
    display: none;

    @include media(desktop up) {
      display: block;
    }
  }

  &.is-hidden-mobile {
    display: none;

    @include media(tablet up) {
      display: block;
    }
  }
}
